

html, body, div, span, p, img, ul, ol, li, a, h1{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:inherit;
}

.bg{
  background-image:url('img/bgimg_1.jpg');
  background-repeat:repeat;
  background-size: auto;
  min-width: 350px;
}

.mainimg{
  height:calc(101.6vh - 5.25rem);
  width:100%;
  background-image: url("img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}

.nav{
  font-family: 'Playfair Display', serif;
  background-color: rgb(180, 177, 173);
  height: 70px;
  line-height: 70px;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 1;
  text-align: center;
}

.navcontents{
  color:white;
  display: inline-block;
}

.navcontents li{
  float:left;
  padding: 0px 3.5vw;
}

.nav_tanisha{
  font-size: 23px;
  text-transform: lowercase;
}

.navcontents a{
  transition: color 1.5s;
}

.navcontents a:hover{
  color:rgb(212, 173, 255);
}

.contents{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 1.5vw;
}

.con{
  width:35vw;
  margin-top: 100px;
  font-size: 1.2rem;
}

.con img{
  border: 1px solid rgb(186, 181, 186);
  padding:7px;
}

.conname1{
  text-align: center;
  text-transform:uppercase;
  margin: 30px 0px 100px 0px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.25rem;
  color:#6c6a6a;
}

.conname1 a:hover{
  transition: color 1.5s;
  color:rgb(208, 178, 247);
}

.con:nth-child(1) img{
  width:35vw;
}

.con:nth-child(2){
  width:25vw;
}

.con:nth-child(3) img{
  width:35vw;
}

.con_detail{
  position: relative;
}

.curtain{
  position:absolute;
  background-color: #6c6a6a;
  top:0;
  left:0;
  right:0;
  height: 100%;
  width:100%;
  opacity:0;
  transition: .3s;
}

.curtain:hover{
  opacity:.8;
}

.text{
  position:absolute;
  font-family: 'Playfair Display', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  color:white;
}

/* -------------------------------------about--------------- */

.container_about{
 height:0vh; <!--하단고정형식 !-->
}

.mainimg_about{
  height:calc(91vh);
  width:100%;
  background-image: url('https://lh3.googleusercontent.com/U4sgFMHOTrFklNfvJKukKbjUmfTCjSO6r3xm0ZIgVNnl5PkLJr0hLSvBM1DH20lY9d2F0BtWYzto7NFOKHZiXEP0gdsP96KqDZekm7C4eBek07e1Tl71uEF0p2DvA3UhnZ-pQ84SkhIXOnxcDaJOkh5Xu8ECsuT-M-3MyZevPYJvabw0Hi2ATQmCnYcf3TmLA4QjCDPGcuVOVKzEwCaMtVtoqrf5wEUkofGtQF4SmBLefyl8Dr8bjYPNvTuiQX07o0GdIOeMnlMZj7ZaazTCC8KUJ8kM96TxLY5IebUO5AjYXKDv7YABzOlnu-9NtZ8bXCI8sYe3eeP9GftKevokmRMU8aM9K2dU8KQ9sqIawYzYfZOZDVkUFtgReJLcIY35xjky_vKaoopzMeYZa9vEi437O_haJ4sWKJ01sexn_eev4HaDfQ3QqUNBsvh_FgXhDNamNzdHDi81kbNRVkl6S1NabD1tg8dWy1rbjohe57064Y14SDutxjnfRzuTr-4I7rkzP_Aytnok78KPEAo3EFBKvgrxN1f9Cnj4vIHbYRq2pFMBhHHzVavTKiP2EigbsjMbVyf1eJJgFws45DyUeUpgOAWymcJtyjyxyQMCvVw5PeT18wc4mZBXRudE7Ih08gsYmh05EMnMXRLVNlKDjm9b1TbF4J0wXlWNTkbe2LlThIYfnypvEfsUKHO7MlDT2i_t7CTbJVvkIeo8bGhgyUqX=w1506-h828-no');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.mainimg_about1{
  height:calc(91vh);
  width:100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/GoSpZsk94D6IYsefnDgCPrGd7srU5vp-kanCF1Pa7jI_BoHMtSJnuwKthT5wEuuIB1YV4mlBXfKTas2IPwMxSmewHMdse-_YzMkO5xTosSoGAQoyZmVJgKo9GATmd8FLDWxRmxB0RRWwOhAEF2PCmCgps4PvdjwSvnH1INu0mY9bTw1FzAs7fwpJpJns_xNHxyDoNaZ7w6rHDHeNshTlSe9y8p73LHPPdppgACIxz5ox77LGc9_sTr37AIjeu5yLlUNiC0hrlwdczhyvPCJ6YdWIM9vyIfbgC7HSTxP_kq-PFVvdTgzuFCH7wiKfctT1tTehyBBdPgKO1972joEs1pBDkURz3oaD2GBJTLzzFWBX3OP_fR8_dg9j0B6EB879GJaBAY17Ol61C5IRF8d-F6cUVL6XRcVOLSV4m7xuEpaMljjUCnxuQA7PrG0C7R8HeHG_B6X7O0X0bS8XQqecA6YAdw_qqgquIHlGWJA2FuK0FdHlm_MpaYAwsunRCsTq4FGTWQSKs6M-4SjknDiSX4-OIamr67s-V5go9E0XL3k-naYgKqhGDpZB7gkL_j23buEERn2iuXgGHHOW_UQjorqVu7XZLMlt3WxClScg_LNxRVPwPh-mWZe7pLLN5DxAbzehDf5gctLTH1c1YfjLY7WHyg9JC2J842EkE3pZYePkZ7zLzzjbwmu-T-0xx7Ttqi8Y5J1WtX6AsAir5FoM5zjt=w1756-h988-no');
}

.mainimg_about2{
  height:calc(91vh);
  width:100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/1erihupOBcHOng6FoQWE6RImDfs9U4iL0KNOlt2Q_EjJZxTvrwJRQ7h4DNI01CzA7vutfamhOMtye8aAvVUUizjmu0KhlSdCSx7oqu6ZkBAe7miDN9oVEOhcjGFZtOj_fsmYxfdpsVArah1IMOtpchQqH4fuoxy-1acLUpyUItvrvLPgMp-dz_z3Irg5rrocVsCo-dx1MFQwiyx2thWkNE0be1VZJXMKUWc91ytXwdrZIQf5xJGrTn45IIDyallcU4KsuQa4ZeTNCUXsPE0Rd1J440XbSjLu0MvSYkGf7GPC6MEJo3q9k0WyFVAYRH-DELLyV-W7bCWNr0xLeIPeuc89z0xYcpNuJ4NdTxnb0SXIzLcy_xhIyTkBrUilLWV-ci1UT4hb6MdJ5jVKx_qWnom5CdlOwLDtkxCDIWnrezsbLG8ZrtdxAwp9rELmkT8mwoUDDDxikKZklDkSPzF9_Skw_q8mtKRiUfWXW05_M1akAvX8-cJudD2YYtAwvPSi7V5eEXGHBhTdQH9Cmw1tCgNjBJvlQhR4DeyyPH8d3D-hk8DHvM-ApurFDa8fkArS5GDV3zahf0simWIuoX5FrdGO2xFjdbxelBiCpCBf5kz3uaarnNpqKqFaJRS9aUZwYPDjris_hvypG_VruJnDSxcyAdVTfcbJGIHUaf0WOQl9wQcbquJ1YePErjVv8zunJL8onHdN9l9lxp_ANKKOfllN=w853-h480-no');
}

.mainimg_about3{
  height:calc(91vh);
  width:100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/tgZ0Yg_Ro54xNrgJz5xkcDz2jSiMPy60RYqdyTzp82tZQOH_kj7XTmD2fvIoZXquEwCIYjoETxxtbdbhYwPDNM-DwO5tykwcD1dXMSQIImdmOhIgaRmyrRQ_g7a0o9ssxc0LjIbdiu1nbvev0I1JfOD3b5TmsUdk2HifUaQdcWaRYH9WQZs7jZskal998VwpUwl9eqOqpSah2nXvMkWDi2OMhdcIuWUNpi2psEBi8OGyNhfN8-md67kLNVdgDKg_FPCMoJr27GmzqFzwvlktKCxufDXxUbCjsOTOpGo1__wbZS-yt4ZQVoYgOBVemhVZcWwQqjj6NmituD9spOuL5KX-tXK3Q4E9ddlhr0orQQdED5KApNGmOhtDCS0o7Qe-Fb4oadKr79CPBpT1-0r9vUR0-jL-4SZ2wGd0cEPVBV32R2xxUEDZDIvLhsK5L0fguxxagii42lBUehAyWsYKjNo4WFRmvPS9WvjvXnC15qOQyX4zNbOe6treug8LCUUhUMtswRfoBLg9j6YZVIoTKUgcfRyY_9sACDEtSbbQCQN33lavgKSqvVwMMKL3OFCGNFmWGLWebLyUDDQB-X-L6CBFIpZFkxvYaBrjWKL57WtKJv2eYzAfkBEI7EHki2P9Q5jG_wgaqB2gl-BM9vJS2CRt_Jw85xYExZtSM3yBlEdo_kKUdYKFZrfUpJ5y7kEj56rfiz5WFWT1AjqTXdatNsBb=w1650-h928-no');
}

.mainimg_about4{
  height:calc(95vh);
  width:100%;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/4-J7aaupAtw200hw5vbCyo_CHHz4iP-I9LWZ_HFo0OKuX5jiFdhIFe8FJLcZDyu2mjzHLVTy0_rQU9o5Hpr5Zx2RppTl5hHhZ8oEdONZK4kY_qJJAGS6FIIY5V3SKS6cZ4r4U8Zcz0d_CBsMo7hXa5gxrC1X5grRMieRgp-SDjWupOouFOIWLrP4F917Q4Qdy_KzNv8_xKCIOdEYxuouBVKFAMP-IZpqnFZPIPk70Vq4Chn7BwVVZqBxMxlXeEYws3AQ8C0KtIlxjQE7_wzj_YR1FAKpZre57ksDMmw4kpoctwLdDonA8gPIpgCou7BpQL0x_64xAPDxfK1Gh929Ioa1nLFTVK-svHiqFxg7SVPSxxLl_mdGeKtRx0oJBbS5HdXI-rj7K2kbdpNfdzfJXzPF9c8ihVqjgkZRsbPva8uz9d0ZUIC6E_0ErD12cZObxPoz4KlBHN1448jm-mYyt2pmOxsOEvNrLvwk2VFKvwbEszi1Sjbipezp9woWMuQG8v96d4-0tgtzb4aeY5eqhr3aFoUjQTIy3bfdjdj8hisKcs0QMZnjr4z34rJfDr1vKN3tbnSzj9ZVCCkBC_-X7L30ArTyZ8E5aVjj9FsIMG2a6REDEjQtbSBR9erw_gwzoDz0_lZHSM17QDHWlx7sCD8Mfe9NjvkZ0qpmM59BvnLANwIxFzbvltkeCLdeIVdhVtTurCi2SZx4yUX_JIwd9CaP=w1774-h1270-no');
}

.mainimg_about5{
  height:calc(95vh);
  width:100%;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/jl7Hg0NuMlsbsmDB9lR9trlDpIwM-3Nfyo2bNJJTeEIjANszgB-KSKrYePzlUzO_Bs_5F4y6BySpq7YLb-eIv3IV3tr-e96dwvU7gtt5Z2_gNM0GcSohG8Xnst1KvtAtJVsSWvu7PxRGrKov_7dgRjUPQXW8bdvlExweZwrdPwZuIyVVyksQwj3kTeRi3YvjuQqSeW4xTeIljTaAgUC4uf39HJv_7PbbPKQOqv5GNszkdN0juAEdMH4cYaNv7bhMZUPrS-GxEaxarPgWYXC1T_H5GkGe5tY9cxThWg5r3UI0iUicB-p9PrOapvqtvNY44xyk2KsdiuMTaz4rgNEhi5jOAepNcmv36hfHRnAdImwz2I4VyU2bxWrrLBE6XVHby_DKNssLbQRNRrOOKit7SNaWj21FsfOI5LkYQ-P4nfzJftEmxixCyYGmB0mdk1h4ONNGzRyQBhNTGREU8hMYZmoh1tkTkn9E9t1t8w_pSY6pA0EvLvUV_ONXEdg-LTT2Xi-R2hqVwfbA78qciJwYLfFKtGooUd3cYea8WP_AtB0xi3qwA-WnPaCpU5bHCSJcM_LE5w9BooZ8ukfYmBz6tx5jEfGMr9Wh1y0lr7dmT0zN_S2TZXgZ0NPDhBU7o4NsLXf4lydCrHNYiBpThY3RGGDCz9c5UXVwgAN1bBcjxm7cPpnrHzxwPrVDvirb1b7Q-cLPLjcVQgz9WpfIULAaBXxA=w1426-h1080-no');
}

.mainimg_about6{
  height:calc(95vh);
  width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/B8xP-e7RxjoAsYxwnpoJOt720yrLQ4eGpm6amJk2LL9uRrqV4B8p95-CNuoKcR76k-3dd_4I5GBtBv6An4uj9RxMRNkbspa0_n96Ngieb2AvBvKUyEyv1-9fQG07wsuacL3vBTQrb9AVFvSr7QRVZEy1pAaeO-ArDykdJFPGcT8CCiWBl-MCHeRcDy6Ns_Gr2dPr7_SJxUHv2pI77Z-LThgKEP9S4JysXsCrSteISaLhNCoUm9XbUywuHIU9giV191e1jxaCfypaK7naIba5BJyeHFfYPeepYRX2-hJrPmqb7T9UsZcEBLc5NEbyJKy8p6pHkjhi5FJDSziwPl926YR5wCmc5Jwg0KGxnuTZRnZRgdfdkX3B2-HOlMov8PQUceM8kxflI2stENxXh5UO_vbNuX6diQETTGkz3WAgpyIT9nkllc9XSytfJYLBJYLh2o5GX4p-6jlOiZQ9Bd1JIzy-xLwJzCN7K7-g8fDnG7Gaa2iFc1MMC6j85xl5dn_79DA8BnYhY0TdO0D_f5V2ltRcb_7vGcMtQDKX6-Wb0QPSnnwoOBI1CNsFV2pqWQNTFFRKQAqnfDAbqU3R1YPsRCWUv6-F2Nmre89lK_iMpydiLDG255nFvv1U24jWwKnUirnQJK7Ke7pmK2DcUwqWXplYkkN7lZKuUlRvdNMcg-vFr6ZDDBNQ9zozgt29j1lxUcRVcoJriFLVu0xclT7w4cZE=w1612-h1500-no');
}

.mainimg_about7{
  height:calc(95vh);
  width:100%;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/tJVDFAZ4N0BvLdmI_fEwF0UmDm0QhHC0xztJFCKGGrAhtjeyT-o2q_12kB-SjIOsd4JhLL74gvLa4tbeO5BuRZttjKNAixKiQel0cZmvHcYD58ipwUftuDzxjimd0iqedYP9Ovy5AIMPf9R9i_bOsd4SDqCGx8kVzSNVjHtZscH-W5DHONci_XZJwOJJrwmWsrnLJUxWbVCPTI5QQyjSfHnSUYpE11jLPHea84shL5KNXw3PQWDDWaNtRzIACTfHrf1YMJsJ4YxOLGDPV70Mr07w9VFPa07T0g6MXgDg1JYGWKXVrGcIHRpbhkynBLFlCyiFNZ73hvTZarEExH1yPKy5ohTRWWd57ZLm3n55mnDeRD-dOaiMkS9vvxNfdRilg81uRNMP5Un80zvnyN543ofv6v3FWuk8HIewAKGgu2pI5VtNpAZsGRohiNdfQa7a_nkKpWybmhk9NYy1vp2rSElIGNQrxgjKm2SVjYl-mMGwklzRPBKW9Qf9b74i-HmtlUQR8Kgy-8EdWDLTaP6H6SDiRqAnhaybH4H7z8pjKEL_uEyWzL77rUf78yITAvpL8yT57cqMPpDZMYCDKwAirJbGQ_Yb7AfRVTjzwm7C-oHMB-9TFlTza0OqQlxMfcqDjEnc5TqQ8R95HxKqFUrvB5ErtXpI07gQiTdotKIWYrat7MvsZw73gy_PRurZMXJJwAo7SOyd7_lFgxHZT0RoQ0qW=w1628-h1292-no');
}

.mainimg_about8{
  height:calc(95vh);
  width:100%;
background-size:contain;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/UjRM2PE0dKQhEbzKCkWVn855lMZPVb1x6qM9vXSA6Viq7LTSWMm-gQCwFub68dePacnYX7YkBUEncsC-n1GHmhUFSBjMz0qHSWFR7_RGymqwMCq-DoFvgnZCI-wxRB1uR1Dc4Vt98mHf8Xy8QBwRNIS79VQOW-Tc2uk_uj_wxPLqYpMjuSQt1k_jmXu3us3LbkPB7LTdz8bPQeyCk0h4Xo_9kb_Ut6InYyDj-Var18jCezea-OateqqQETV0Z-dc4pFtZwiwt2E2bDLCYhUXxZKsDcbPq6_2pKTHHgFu-WMyXYRDTnpfm_a2TRZpjylkpe8GB1T6_DY5wOWa9sdC8IQkFU1HH41yRqeeAVmVUg2jDhi-A5Uq0P9JJcDl2i1FVNG_zi6OJOViMmYAPUs4JaqONF7S86MLwCPOopV0dBNjm0xcBSoCr8OCW7t-5R-MdsNFTm_5S4IaZeFGs2y950Eno7B51TKUg9YGIQcX_fb44bDwUWX9k6_Tw6dTKz_zaU8hxUoAb6MU2fYD2HlQZWqZoO-Z8TjEaDp9fSvXWai5IeNljv0vnagN5a85QyETFJVIdA2jlXT5BB2MZGf8pgNVeBmH01_d4dYjrpKRHHiCffudgL-XB3tJcXA8GI1cjCozEcSuJ4ilLJNzVOF1z4XHNYfWoHuROZsW2HLNWIvFOepfi8kFLa7B8H1-tDdy0VTB5KaVNoAGRs-fVI0JEqtd=w1504-h846-no');
}

.mainimg_about9{
  height:calc(95vh);
  width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/5W3zUQcPq1t8ibyfUrjFCOcvKdPNqHINzd_DBoGFx5ZWMKmkZl3fmIGYnNJ2dlSXNJfvf7zdSGuuAQYdWZDmSzbcvJ1Fma3mWYjHclLKtH-I5SYbbZHIHNl1rRe6CT08iAE_QZTve4ejK8eIXghUGG3AM8fgvvrKtFP5eQ0rKTlLlSMER1_jJTCqDga8gujA5Amn5uH-kZ3QbfX8XZzcC4Cjd0X3SDudrNEshXTTMybq0ikAyCK2ZwwDKPc4UMDK-o6rGWJ-Cv36Qo4tATogWUVawRm8LrZyzAb7z9ZjTSLVQJhZ-SIyhmzSapNGYxkOVZk-OkLlUjtZpoupdRzF_fpksWcpJUVVV2x7gzN4J_MkfAF4Oo0t0dU1iKJkzvaf_UhRM5E8OSkGuILd051bV49lvHNnmM4m0bRmthSo2-5fqWh_PpiwmLa26UtE1BrXiOY5xvEUeUN0KllBpJ_oNC6iWa0u_5M4YV9mT_lffblsN9QQOdj825ROauvIfsUMxUFeceTcmb-us7LavUkUzACaebQKBU6QLxMkHIbX23l_bdxT8c-d3zTGUsXq5PyvHVTvWV6CJAPuYZqXHy-FUtPse_teryOVbpmH5DJiLKKasrVJgF-a73t3Mf-0qnSnPo3xh5j8KNS0u66swHzLEAjGbIFEyy-C3yNHHHaQgODsgdpImwYhFHrbi_uXNg7iWGp3QxpRY3BGzkYOoX7vJWUA=w1420-h704-no');
}

.mainimg_about10{
  height:calc(95vh);
  width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/K5jg6IJHvnL7F8VRoM-77JuQXxq-IcE-nejqP_gQYvnYkFx7XGqwlX3byBDzQneR_euG_PgwQ0NTqmFeoJe9zsDxGdstjo15f4wn9EwijgeMlHUTFqKGS0TG4snI3PsQuzdUOFT44q2iselKzZ1vF7HW6dWhLVletFyA4cq3qVvEIX6Bq4DBa0hRU75r5QVOlhIyoW5p091zW3SbNah6SpsHsiS1HMbEEWJhnE88uMDgtAQXrxOBfiIp9Z01C5rZzHWBtRxnUBt4Vhn11Ubq6OI0VZH9Yrw5kdwUKZCc_ywaJpF73KeEcPpKSPPBsTJ4hBK0KGdoip_Mn8oI1Yeak8F_s0B9dCT14xUVGKncLWUI29m1JntNxxQwKhW0yf3vrCRLGUTcayyZFXhq_XqhhxiSRLJfVTTby6EOoQUJyEqiPWzbYfGU-tEEhB0CQnf2vDbKe5_IwL3ZHcAcnR8NX6aQsTp0mz3LsaC5DUzat_AtCMJllTf9DGmVp3oH1f9-WWOXX5lYseUPgVKSn4-32dlqpgLWs38Sy6_EQI-qwdCqn3_orYZ9OrVj_AJ7I98EC2KPwOV0jb1hsd0SikCfG6O5tIrOOpglBA5GHFXjqqxgyiNtr2HsaIbIiqnevNwJuBlD-XhCDUynNrTeEzLrBO680qOccpmc5u064_M3h4NR2J_YQ-s1mfynPd6WO-7Q8sBdvXcntd6bomIdN6Vn7W3J=w1420-h776-no');
}


.mainimg_about11{
  height:calc(95vh);
  width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/tBlHyQdOMidPLO8PvCKKLsqD1UnUPAc4dADsGkTeSmRHjc1-baTRbPbn2c1_zrOw0OED7ke6RUFugRaf57N_twYb8ebCT4qA1U1s3otFoyGBdxBz710iQa_f7mPP9qiSw2sPvLlGnbxJUgRlH_cpeONOaGL2Sq_itJp_jqeWHchoQrSv5vtVgjC9QyKsNRSzFIV19OOWJ1ffRagR7f36aVs90wewd4aVdnAbsTdLARjsAEO-OhevAXkBrr4lq0267C1J6HQfKfIYI8iWmYKVgbNz9joRlnnuRDd3czpqablkt6aRoZd1QgDfkuBTP3i_7n-l2Rau4_YBNst_D848vUhO_3p9krRu2IaNuG5FM3ObKLCvcwR-jXNXVVt4dVPRRzR1RfPvrqmGbAwJ2uIXSKtOH3q6fh0m_PfmSSWIJGLbOgmqrnBLCG4I1L01gc39VFsbdZBHY-6RexhQowK-Rq9qAp1W9wSgiXn71du_hy2VvnweledCiX0NbdRXYTKYNyCnn08GUXUMSX0swxe9S73Ft0zE4-MiWzEaw2Nh9cdoc0hHxS4_-dA9XVrSVNYR07Wj8WGgJac_fgFiQr5Sj8vkg1C4bpCmvgfNEYIDxyjELPpl3zbLgKdYLbhf9NuyzlXggpb7PhXcvFOF7Y-lAVsmNshG4eyvN4LOCdTX89M64nK_8cb2d1KkzCPPemy7Bsj7IDucbsGNYgZiK2EPySwA=w386-h211-no');
}

.mainimg_about_tanisha{
  height:calc(95vh);
  width:100%;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
  background-image: url('https://lh3.googleusercontent.com/GqIQtAQpoRxN7GboxEm75F3Yq1osa41u7GZmn8VwDyDTC5F_nWX0d3BVjyWWQMh9uf4FE1Fc5pBnvXqCJ_CCIOIZSgtNq5IUsfjDoHFLp-ih6ZqsinHaxMh_oGXkBGPA4OVrjNBgJYcPkZ2DSGcbFvQzCrp_R-tbdilj9TLp5AlGt9rAO3x8RsgLO5uudWcIMwHb2DzYX5ndgUDfkiueOwTzekKLYhKchqyjTFFF4UuYn_SX0lMtQixyt3BMWCccjQ2hxMohGujz94VN4EIF_4cYLMO49wdk7KirycuOQMfs234JZsGThU03MTxaDo35PQMMFhctZLfUX5BBBYC86HDrkzqqb-SfctkY93y5Qa74SEJqDN_nNN-E7kJYznwa2Nzrjq5ZZsz5V6kkZd5YaLOugTU_z2ZIEHcLFI1d9k8KGpAgQjYHajc_US2OpPLoB65lDZj1uNBiTZ7D2YxFYjcEFdZMNvr_2t5dJ2jDUyCoO_02SEH0rfvdIvhM17zWN3q1KotvlxQtvpv5191ED3OVx2XKSjLeJbq6BcYFCGz2PacAJfyNtgGoGWUrIKfeFPtK-gAeOCGGnQO9x8zaF5-OGNgNgqFBsJ3JeS0B7lu81IHXEAchoJZHY7UTXTI9eDPHp88WGd3bStIWwdIbhrHFM8FYR2u6wmPLTuIdgSSHD6iIwoW3jABN3_to1TNVLTRIO4kweoh1jIwGxopW0k0Z=w1420-h800-no');
}


.contents_about{
  display:flex;
  flex-wrap: wrap;
  padding: 15px;
  width:100%;

}

.contents_about_in{
  margin-top:70px;
  padding:20px;
}

.about_title{
  font-family: 'Hammersmith One', sans-serif;
    font-size: 1.8rem;
  padding-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.about_abstract{
  font-family: 'Hammersmith One', sans-serif;
    font-size: 1rem;
    padding-bottom: 40px;
}

.about_abstract a{
  font-size:1.25rem;
  font-family: 'Hammersmith One', sans-serif;
  color: rgb(197, 102, 255);
}

.about_abstract ul{
  list-style: none;
}

.about_abstract li{
  padding-bottom: 7px;
}

.about_subimage{
  margin-bottom: 50px;
}

.about_subimage img{
width:100%;
height: auto;
margin-bottom: 50px;
padding:0;
}

.about_subimage_only8{
  margin-bottom: 50px;

}

.about_subimage_only8 img{
width:60%;
height: auto;
margin-bottom: 10px;
padding:0;
display: block;
margin-left: auto;
margin-right: auto;
}

.about_linkbox{
  border: 1px solid rgb(186, 181, 186);
  width:100%;
  height: auto;
  margin-bottom: 40px;
  margin-top:  40px;

}

.about_linkbox a{
  text-decoration: none; color:black;
}

.about_linkbox_img{
  height: 30vw;
  margin: 10px;
  background-image: url('http://static.inven.co.kr/column/2018/04/20/news/i13166692124.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.about_linkbox_title{
  font-size: 20px;
  margin:10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about_linkbox_content{
  font-size: 13px;
  margin:10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about_in_en{
  font-family: 'Playfair Display', serif;
font-size: 16px;
}



.about_in_kr{
  font-family: 'Noto Sans KR', sans-serif;

  font-size: 15px;
  margin-bottom: 70px;
  margin-top:30px;
}

/* ------------------------------------------------ */



.gutter{
  position:sticky;
  position: -webkit-sticky;
  top:33vh;
  height: 13vw;;
  width:11.2vw;
  margin-left:7vw;
  margin-right:7vw;
  display:inline-block;
  background-image: url('img/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.gutter p{
  font-family: 'Unica One';
  text-transform: uppercase;
  text-align:center;
  margin-top:15vw;
  font-size: 1rem;
}

.footerimg{
  background-image: url("https://cdn.pixabay.com/photo/2016/07/10/13/13/angel-1507747_1280.jpg");
  background-size: cover;
  background-position: center;
  filter:grayscale(100%);
  width:100vw;
  height: 250px;
  margin-top: 12vw;
}

.footer{
  margin: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.myparts{
  display: flex;
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  padding-left:.6rem;
  padding-bottom:1rem;
  width:500px;
  color:rgb(79, 77, 76);
  font-size: 9px;
}

.footerlogo img{
  display: flex;
  width:30px;
  align-items: center;
  margin-top:5px;
}

.footer h3{
  font-family: 'Playfair Display', serif;
  padding: .6rem;
  color:rgb(79, 77, 76);
  font-size: 12px;
  text-align: center;
  margin-top:5px;
}

.footer h3 a{
  color:rgb(79, 77, 76);
}

.myparts li{
  float:left;
  width:80px;
  text-align: center;
}

.myparts li:nth-child(3){
  width:70px;
}

.myparts li:nth-child(4){
  width:60px;
}

table{
  margin-bottom: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1rem;
  overflow-x: inherit;
}

td{
  min-width:60px;
  height: 25px;
  vertical-align: super;
}

@media (max-width:799px){


.bg{
  overflow-x: hidden;
}

  .mainimg{
    height:101.6vh ;
    width:100%;
  background-image: url("img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  }

  .mainimg_about_tanisha{
  height:101.6vh;
  width:100%;
  background-size:contain;
  }

  .mainimg_about1{
  height:101.6vh;
  width:100%;
  background-size:cover;
  }

  .mainimg_about2{
  height:101.6vh;
  width:100%;
  background-size:cover;
  }

  .mainimg_about3{
  height:101.6vh;
  width:100%;
  background-size:cover;
  }

  .mainimg_about6{
  height:101.6vh;
  width:100%;
  background-size:contain;
  }

  .mainimg_about9{
  height:101.6vh;
  width:100%;
  background-size:contain;
  }

  .mainimg_about10{
  height:101.6vh;
  width:100%;
  background-size:contain;
  }

  .mainimg_about11{
  height:101.6vh;
  width:100%;
  background-size:contain;
  }

  .container{
    display:flex;
    flex-wrap: wrap;
   height:101.7vh;
  }

  .curtain{
  position:absolute;
  background-color: #6c6a6a;
  top:0;
  left:0;
  right:0;
  height: 100%;
  width:100%;
  opacity:0;
  transition: .3s;
  }

  .text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     text-align: center;
     font-size: 5rem;
  }

  .contents_about_in{
    margin-top:70px;
    padding:20px;
    width:90vw;
  }

  .con{

    width:80vw;
    height:auto;
    position: relative;
  }

  .con p{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 140px;
  }

  .text a{
  text-align: center;
  font-size: 16px; }

  .conname_index{
    font-family: 'Hammersmith One', sans-serif;
      font-size: 22px;
      color:#6c6a6a;
  }

  .con:nth-child(1) img{
    width:94vw;
  }

  .con:nth-child(1) {
    width:94vw;
    height: auto;
  }

  .con:nth-child(2) {
    margin:0px;
    height: 0px;
  }

  .con:nth-child(3) {
    width:94vw;
    height: auto;
    margin-top: 0;
  }

  .con:nth-child(3) img{
    width:94vw;
  }
  .gutter{
    height: 30px;
    width: 30px;
    position:fixed;
    margin-right: 1.2vw;
    margin-top: 5px;
    padding:0;
    /* bottom: 0; */
    right: 0;
    /* left:0; */
    top:0;
    /* top:350px; */
    z-index: 2;
    /* line-height: 70px; */
    background-size: contain;
  }

  .gutter p{
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    text-align:center;
    margin-top:30px;
    margin-right: 0;
    padding:0;
    font-size: 8px;
  }

  iframe{
    width:80vw;
    height:300px;
  }


/* In Tanisha */
  .about_abstract li{
    padding-bottom: 15px;
  }

}
