*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



body{
  background-image:url('img/bgimg_1.jpg');
  background-repeat:repeat;
  background-size: 1920px;

  /* background-size: cover; */
}

.container{
  display:flex;
 height:calc(101.6vh - 5.25rem); <!--하단고정형식 !-->
}

.container_about{

 height:0vh; <!--하단고정형식 !-->
}

.mainimg{
  height:calc(101.6vh - 5.25rem);
  width:100%;
  /* background-image: url('https://lh3.googleusercontent.com/CC3SLDlaUgaZEkYs9iUPAsZ6gytB9oE8HUt1WemTh7ImY8S1JZSTMiugFfVquvJ2Cge92eSfr1Bf19fo12W0yYO_frlP8sr8LkHX598ZMlu0C0cRGC6gGuA8Jo3Qmu_uXNV9O3Bh8DcMJ9qBp-vIvor0Xp_qQCXI4tyfSF6oAOt8dRdqI2y_PIHgQGNqlG3caowkB7uN-RqGfmrqCsAJRx7R77MF5sp6uuUNA0Eu8JW4A0WVrmW9sDrZ1JGMhmeJBEOqE6WpXTU5yKuYyXTcH6rZmljnDJK5q_uXiUdi4N0b4J9jGLC_sOvCdYEOo4_B1Rip9acYhLU2a1Io14kLTzet9gkxE6x03kL7ax4QJmLHHFKGF2fjkosuzcfwpxjX0nS7bcKc_aVsOf4RZ5rETX3ftgqdWFmTbRbL-E04FKwj6WOC_fxShT5PXyLq3oJxBm7Rj-WgYI2CWrilaN60pepdui2Vx_1Ad_4MNL1d6RRN5z43cosZchy6qqV0h1vQMnAn1Acg-Pmb7m-dOOf_U8eWqRW7F10ryt-cKUQJEqwN75f41CHGOvXcuyR_EzqGpcftdLyHIzLAZ4Cf0umMpCEau_4hTCbdCiUfPQNWIvC_qGz-lntVVA1Qyi2rV0zrSDly4P51ldC8gT7BeWEPmm4OLAHBkuntmOREf4_4YLyySmzeEb_pIjqg9Nh5LBhwIYjMKDgatL5sryf3Zua3lXTC=w853-h480-no'); */
background-image: url("img/main.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
filter: grayscale(100%);
}

.mainimg_about{
  /* display: flex; */
  height:calc(91vh);
  width:100%;
  background-image: url('https://lh3.googleusercontent.com/zG1BzovE0ipvpKG7aWtnTp0igxJHVYaL_Fv1_yKSXyzzH5x_-cYiajyPJHF1dqWEjxJ0EgjFxrb0gjPvlKcw5meIBtx2gYFiDjpNL0sKWQo4VGijW3fiBKOdfkBecAQsk2yncKJmBsylNjLqLREHFMR8AztSHwJSZfdg_DQUtAehn9qBPYcM7ZiE-f6iULoOSCZNmecomvOb-ed_S4W7zyUAP09e3qglOqh8HG48QrYeJYlZcXCdMo0TasfHGa853h2DdxXkQVLJzbky_NHEOktgO-qZbVsH7NpyTzvrSNl4vzmApQ_ITvOy7emS5kg_yM5thUOe1qFF40GcEksi6qQl6VizDKhyxqUkwidUvOnwncgcReETVKrRB08sCtbao22yXlIUJwWgcGIqfhEpltYWVkxUcbMEBi-Dszxnw22vdNh9VNw2G7na0h7c9jwmju2EKZTqXH25a32amYv76KIjxrVc9suLYC_BDxhNkGYJa0EV6On5b_KWTvaAt6oxsQMAaUa94mADNT03YO-cUyCqNLorDJ3bXuztxnlG3CeYwX18eeSk3_5LW6KOVrL9Afmtcr4nkMCgDQ3SatRytJYLlNOxOqCzoxNdhOKQasYic62SUlkSjOQG4v9FGtWJ25JEETA9SDlaJoj9gFC8SYAXCCUtlww=w1704-h936-no');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
/* margin-top: 35px; */
}


nav{
font-family: 'Playfair Display', serif;

/* font-family: 'Francois One', sans-serif; */
background-color: rgb(180, 177, 173);
color:white;
height: 70px;
width:100%;
position: sticky;
position: -webkit-sticky;
top:0;
z-index: 1;
}

.active{
  position: fixed;
  top:0;
}





.navcontents{
text-align: center;

/* list-style: none; */
align-self: center;
/* padding-top:26px; */
/* height: 70px; */
/* transform: translateX(-50%); */

}

.navlogo{
display: inline-block;
}

h1{
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  /* text-transform:uppercase; */
  text-transform: lowercase;
}

.navcontents span{
  display: inline-block;
  padding-right:5vw;
  padding-left:5vw;
  padding-top: 16px;
  font-size: 14px;
}


a{
  font-family: 'Playfair Display', serif;
  text-decoration: none; color:white;
  /* padding-left: 10vw;
  padding-right: 10vw; */
  transition: color 1.5s;

}

nav a:hover{
  color:rgb(109,91,149);
}

main{
/* border: solid 1px red; */

}
.contents{
  display:flex;
  flex-wrap: wrap;
  /* border: solid 1px blue; */
  justify-content: space-between;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}



.con{
  /* border: solid 1px pink; */
  width:35vw;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
/* font-family: 'Source Serif Pro', serif; */
font-family: 'Hammersmith One', sans-serif;
/* font-weight: bolder; */
  font-size: 1.2rem;
}







.con img{
  border: 1px solid rgb(186, 181, 186);
  padding:1vw;
}
.con p{
  margin-top: 25px;
  color:rgb(79, 77, 76);
  text-align: center;
  text-transform:uppercase;
}

.con a:hover{
  color:rgb(208, 178, 247);
}


.con:nth-child(1){
  width:35vw;
  /* height:30vw; 이거때매 전체적으로 크기 안늘어나서 footer imgfkd 겹침*/
}

.con:nth-child(1) img{
  width:35vw;
  /* position:absolute; */
  z-index:1;

}

.con:nth-child(2){
  width:25vw;
}

.con:nth-child(3){
  width:35vw;
}
.con:nth-child(3) img{
  width:35vw;
}

.contents_about{
  display:flex;
  flex-wrap: wrap;
  /* font-family: 'Hammersmith One', sans-serif; */
  /* border: solid 1px blue; */
  font-family: 'Playfair Display', serif;
  padding: 15px;
  width:100%;

}

.contents_about_in{
  padding:20px;
  /* border: 1px solid rgb(186, 181, 186); */

}

.about_title{
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: bold; 
}


.about_in{
  font-size: 13px;
}

.con1{
  position: relative;
}

.curtain1{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain1:hover{
  opacity:0.8;
}

.conname1{
  margin-bottom: 100px;
}


/* 2번째 */

.con2{
  position: relative;
}

.curtain2{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text2{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain2:hover{
  opacity:0.8;
}

.conname2{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 3번째 */

.con3{
  position: relative;
}

.curtain3{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text3{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain3:hover{
  opacity:0.8;
}

.conname3{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 4번째 */

.con4{
  position: relative;
}

.curtain4{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text4{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain4:hover{
  opacity:0.8;
}

.conname4{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 5번째 */

.con5{
  position: relative;
}

.curtain5{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text5{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain5:hover{
  opacity:0.8;
}

.conname5{
  margin-bottom: 100px;
}

/* 여기까지 */

/* 6번째 */

.con6{
  position: relative;
}

.curtain6{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text6{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain6:hover{
  opacity:0.8;
}

.conname6{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 7번째 */

.con7{
  position: relative;
}

.curtain7{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text7{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain7:hover{
  opacity:0.8;
}

.conname7{
  margin-bottom: 100px;
}

/* 여기까지 */

/* 8번째 */

.con8{
  position: relative;
}

.curtain8{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text8{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain8:hover{
  opacity:0.8;
}

.conname8{
  margin-bottom: 100px;
}

/* 여기까지 */



/* 9번째 */

.con9{
  position: relative;
}

.curtain9{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text9{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain9:hover{
  opacity:0.8;
}

.conname9{
  margin-bottom: 100px;
}

/* 여기까지 */

/* 10번째 */

.con10{
  position: relative;
}

.curtain10{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text10{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain10:hover{
  opacity:0.8;
}

.conname10{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 11번째 */

.con11{
  position: relative;
}

.curtain11{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text11{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain11:hover{
  opacity:0.8;
}

.conname11{
  margin-bottom: 100px;
}

/* 여기까지 */


/* 12번째 */

.con12{
  position: relative;
}

.curtain12{
position:absolute;
background-color: #6c6a6a;
top:0;
left:0;
right:0;
height: 100%;
width:100%;
opacity:0;
transition: .3s;
}

.text12{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
   font-size: .8rem;
}

.curtain12:hover{
  opacity:0.8;
}

.conname12{
  margin-bottom: 100px;
}

/* 여기까지 */


/* .curtain{
  position:absolute;
  width:35vw;
  height:20.2vw;
  background-color: rgba(139, 139, 139);
  z-index: 2;
  top:0;
  opacity:0;
  transition: 1s ease;
  text-align: center;
  line-height:20.5vw;
}

.curtain:nth-child(1){
  position:absolute;
  width:35vw;
  height:15vw;
  line-height:28.5vw;
}

.curtain:nth-child(2){
  position:absolute;
  width:35vw;
  height:20.5vw;
  background-color: rgba(139, 139, 139);
  z-index: 2;
  top:100px;
  opacity:0;
  transition: 1s ease;
  text-align: center;
  line-height:20.5vw;
}

.curtain:nth-child(3){
  position:absolute;
  top:53vw;
  width:35vw;
  height:29.5vw;
  line-height:28.5vw;
} */


.curtain:hover{
  opacity:.8;
}





.gutter{
  position:sticky;
  top:350px;
  height: 12.9vw;;
  width:11.2vw;
  margin-left:7vw;
  margin-right:7vw;
  display:inline-block;
  background-image: url("https://lh3.googleusercontent.com/u5T3izx1FSd70_oPz1mIom0221mq4EX7kwLQGHNy-lLFg3DmwZQi3i2_5Tejs_BGl_snnmnC64n0iP843vCJWW7g6V8R1dHIXKlqi-I7P27WONGKDZN2s3VOwXJ2hLhvQw6VLEovUZ2-iXMHyIrcJj-erk8-fqA4UP8zNwQQRdPSBEf1EUC1QdG1wOkGaZF5rj98AvKg_a-Asxk1GYd7PWLwovQA2R2vrhmlCa0hqb6xGSH5dyMxweKlfIifT6LK89SGPgO0MU1ruz9zY4hqJIhmBVLucemxlzQVho_NOd73CPOS1prmuzoGdB0DnoGknaUjLxbDzIyQsqF99ZO9bs1eXjItfNml3Sr7kwvNInDTlBJMaNPk4uWLCS0_MqXKW_1nbATW7r9urTgNSGjq4UKuyAneY4FkCtuBYtnixznxiqX7r-E8gQEpuE7N3tUnKkO7L1wUzeqxBXz9_BIvMhaketN5rhxslRBcO-zWA9PNGJ5Nj-KgMLq2tdpIDg9YkLVzd52-0w0XHxbJdTjL3eBvB-dh713AL1cK12h8ae9AHL32sKQGR4S9uk9y_znEecgoG16YBmHOG1Njo7quOx0kRsv9ycaoisRwFglGNWczj1R61U-z_746DJr5-P-jsBVE2g-TLwJbs5Tjyv3Mkb7u8GIbxwLVeaBh7X6DT8InFw0KCBly0g6Ru60QWt83bEj6_FNq1UXrUfb7fYg-HR0-=w608-h706-no");
  background-size: cover;
  background-repeat: no-repeat;
}

.gutter p{
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  text-align:center;
  margin-top:15vw;
  font-size: 1rem;
}

.footerimg{
  background-image: url("https://cdn.pixabay.com/photo/2016/07/10/13/13/angel-1507747_1280.jpg");
  background-size: cover;
  background-position: center;
  filter:grayscale(100%);
  width:100vw;
  height: 30vh;
  margin-top: 12vw;
}

footer{
  margin: 12px;
  border: 1px solid rgb(186, 181, 186);
}


footer h3{
  font-family: 'Playfair Display', serif;
  padding: .6rem;
  color:rgb(79, 77, 76);
}

footer p{
  font-family: 'Playfair Display', serif;
  padding-left:.6rem;
  padding-bottom:1rem;
  color:rgb(79, 77, 76);
  font-size: 12px;
}




.modal {
  margin:0;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px;
  padding-left:30px;
  padding-bottom: 30px;
  padding-right: 30px;
/* Location of the box */
  left: 0;
  top: 0;
  max-width: 140vw;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.modal-content img{
  width:100%;
  padding:3vw;
}

.modal-content p{
  padding-left: 3vw;
  color:purple;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* just some content with arbitrary styles for explanation purposes */





@media (max-width:598px){

  .container{
    display:flex;
    flex-wrap: wrap;
   height:calc(101.7vh - 5.25rem); <!--하단고정형식 !-->
  }

  .main{

  }

  .con{

    width:80vw;
    height:auto;
    position: relative;
  }

  .con p{

    text-align: center;
    padding-top: 20px;
      margin-bottom: 140px;
  }

  .con a{

    text-align: center;
    font-size: 16px;
  }

  .con:nth-child(1) img{
    width:94vw;
    /* margin-left: 2.5vw;
    margin-right: 2.5vw; */
    padding-top: 0px;
  }

  .con:nth-child(1) {
    width:94vw;
    height: auto;
  }

  .con:nth-child(2) {
    margin:0px;
    height: 0px;
  }

  /* .conname2{
    margin-bottom: 140px;
  } */


  .con:nth-child(3) {
    width:94vw;
    height: auto;
    margin-top: 0;
  }

  .con:nth-child(3) img{
    width:94vw;
    /* padding-left: 2.5vw;
    padding-right: 2.5vw; */

  }
  .gutter{
    height: 7.8vw;
    width: 7vw;
    position:fixed;
    margin-right: .8vw;
    margin-top: .4vw;
    padding:0;
    /* bottom: 0; */
    right: 0;
    /* left:0; */
    top:0;
    /* position: sticky; */
    /* top:350px; */
    z-index: 2;
    /* line-height: 70px; */
  }



  .gutter p{
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    text-align:center;
    margin-top:7.6vw;
    padding:0;
    font-size: 6px;
  }

}
